<h4>
    Current status:
    <strong ng-if="issueDetails.Status.Id == 1">Closed</strong>
    <strong ng-if="issueDetails.Status.Id == 2">Open</strong>
    <strong ng-if="issueDetails.Status.Id == 3">In Progress</strong>
    <strong ng-if="issueDetails.Status.Id == 4">Resolved</strong>
</h4>

<button ng-if="issueDetails.Status.Id == 2" class="btn btn-sm btn-primary inline" ng-click="changeStatus(3)">In Progress</button>
<button ng-if="issueDetails.Status.Id == 3" class="btn btn-sm btn-success inline" ng-click="changeStatus(4)">Resolve</button>
<button ng-if="issueDetails.Status.Id != 1" class="btn btn-sm btn-danger inline" ng-click="changeStatus(1)">Close</button>