<div class="col-md-6 col-md-offset-3">
    <h3>Change Passowrd</h3>
    <form name="changePasswordForm">
        <label for="old-password">Old Password</label>
        <input type="password" id="old-password" required="required" ng-model="changePasswordData.oldPassword" class="form-control" />
        <br />
        <label for="new-password">New Password</label>
        <input type="password" required="required" ng-model="changePasswordData.newPassword" min-length="6" max-length="100" id="new-password" class="form-control" />
        <br />
        <label for="confirm-password">New Password</label>
        <input type="password" required="required" ng-model="changePasswordData.confirmPassword" min-length="6" max-length="100" match="changePasswordData.newPassword" id="confirm-password" class="form-control" name="confirmPassword" />
        <br>
        <div data-ng-show="changePasswordForm.confirmPassword.$error.match" id="password-not-match-text">Passwords do not match!</div>
        <button class="btn btn-primary" ng-disabled="changePasswordForm.$invalid || registerUser.password != registerUser.confirmPassword" ng-click="changePassword(changePasswordData)">Change Password</button>
    </form>
</div>