<div>
    <h2>
        <strong>Details for issue </strong>"{{issueDetails.Title}}"
    </h2>
    <div ng-if="isLeader || auth.isAdmin()">
        <button class="btn btn-sm btn-success inline">Edit</button>
    </div>
    </br>
    <table class="table table-striped table-hover ">
        <tbody>
        <tr>
            <td><strong>Project Name: </strong>{{issueDetails.Project.Name}}</td>
            <td><strong>Project Leader: </strong>{{issueDetails.Author.Username}}</td>
            <td><strong>Due Date: </strong>{{issueDetails.DueDate | date:'dd-MM-yyyy'}}</td>
        </tr>
        <tr>
            <td><strong>Issue Key: </strong>{{issueDetails.IssueKey}}</td>
            <td><strong>Assignee: </strong>{{issueDetails.Assignee.Username}}</td>
            <td><strong>Priority: </strong>{{issueDetails.Priority.Name}}</td>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-sm btn-success inline" ng-click="viewProject(issueDetails.Project.Id)">Details for project {{issueDetails.Project.Name}}</button>
    <h3>
        <strong>Description</strong>
    </h3>
    <div class="alert alert-dismissible alert-info">{{issueDetails.Description}}</div>
    <div ng-if="isAssignee || isLeader">
        <h3>Status transition scheme</h3>
        <div issue-statuses></div>
    </div>
    <div  ng-if="labels.length>0">
        <h4>Labels</h4>
        <div class="alert alert-dismissible alert-info">
            <ul class="list-inline">
                <li ng-repeat="label in labels">
                    <span class="label label-default">{{label.Name}}</span>
                </li>
            </ul>
        </div>
    </div>
    <div ng-if="labels.length===0"><strong>No Labels</strong></div>
    <div ng-if="comments.length>0">
        <h3>Comments</h3>
        <blockquote ng-repeat="comment in comments">
            <p>{{comment.Text}}</p>
            <small>{{comment.CreatedOn | date:'dd-MM-yyyy'}} <cite title="Source Title">{{comment.Author.Username}}</cite></small>
        </blockquote>
    </div>
    <div ng-if="comments.length===0"><strong>No Comments</strong></div>
    <div ng-if="isAssignee || isLeader">
        <form name="commentForm">
            <textarea ng-model="comment.Text" required="required" class="form-control" rows="3"></textarea>
            </br>
            <button class="btn btn-primary" ng-disabled="commentForm.$invalid" ng-click="addComment(comment)">Add Comment</button>
        </form>
    </div>
</div>